html {
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

body {
    font-family: "Outfit";
    font-size: 15px;

}

main {
    border-radius: 20px;
    font-size: 15px;
    padding: 16px 16px 40px 16px;
    max-width: 320px;
    background-color: hsl(0, 0%, 100%);
}

h1 {
    font-size: 1.46rem;
    text-align: center;
}

p {
    letter-spacing: 0.19px;
    color: #7D889E;
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
}

img {
    width: 100%;
    border-radius: 10px;

}